.fileDownload{
    // width: 100%;
    // height: 100%;

    .downloadIcon{
        // object-fit: contain;
        // width: 100%;
        // height: 100%;
        height: 17px;
        margin-right: var(--gapS);
        // margin-top: -3px;
        margin-bottom: -2px;
    }
}
